body {
  background: url("images/background.jpg");
  margin: 0;
  font-family: monospace;
}

h1 {
  display: block;
  margin: 30px 350px;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: black;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 10px;
}

.gallery {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery li {
  min-width: 280px;
  margin: 20px 5px;
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
}
.gallery img {
  /* width: 200px; */
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 20px;
}

/* Estilos del modal (imagen agrandada) */

.modal {
  position: absolute;
  top: -100%;
}

.modal:target {
  transition: 1s;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.modal h2 {
  color: #fff;
  font-size: 30px; /* Revisar un mejor tamaño*/
  text-align: center;
  margin: 25px 0;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image a {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  margin: 0 10px;
}
.image a:nth-child(2) {
  margin: 0;
  height: 100%;
}
.image img {
  min-height: 200px;
  max-height: 450px;
  border: 7px solid #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.close {
  display: block;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
}
